[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = FR
stateOrProvinceName = Nanterre
localityName = Courbevoie
organizationName = Ynov Paris
organizationalUnitName = IT
emailAddress = alaa.hajri@ynov.com

commonName = localhost

[v3_req]
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = *.localhost

